<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Backbone.js---todo index</title>
    <link rel="stylesheet" href="css/todos.css"/>
</head>
<body>
<section id="todoapp">
    <header id="header">
        <h1>todos</h1>
        <input id="new-todo" placeholder="What needs to be done?" autofocus>
    </header>
    <!-- This section should be hidden by default and shown when there are todos -->
    <section id="main">
        <input id="toggle-all" type="checkbox">
        <label for="toggle-all">Mark all as complete</label>
        <ul id="todo-list">
            <!-- These are here just to show the structure of the list items -->
            <!-- List items should get the class `editing` when editing and `completed` when marked as completed -->

        </ul>
    </section>
    <!-- This footer should hidden by default and shown when there are todos -->
    <footer id="footer"></footer>
</section>
<div id="info">
    <p>Double-click to edit a todo</p>
    <p>Writtern by <a href="#">HC</a></p>
    <p>Part of <a href="#">todoMVC</a></p>
</div>

<script type="text/template" id="item-template">
    <div class="view">
        <input class="toggle" type="checkbox" <%= completed ? 'checked' : '' %> />
        <label><%- title %></label>
        <button class="destroy"></button>
    </div>
    <input class="edit" value="<%- title %>"/>
</script>
<script type="text/template" id="stats-template">
    <span id="todo-count"><strong><%= remaining %></strong><%= remaining === 1 ? 'item' : 'items' %>left</span>
    <ul id="filters">
        <li><a class="selected" href="#">All</a></li>
        <li><a href="#/active">Active</a></li>
        <li><a href="#/completed">Completed</a></li>
    </ul>
    <% if (completed){ %>
    <button id="clear-completed">Clear completed (<%= completed %>)</button>
    <% } %>
</script>
<script src="lib/jquery-1.8.2.js"></script>
<script src="lib/underscore-1.7.0.js"></script>
<script src="lib/backbone-1.1.2.js"></script>
<script src="lib/backbone.localstorage-1.1.16.js"></script>
<script src="js/models/todo.js"></script>
<script src="js/collections/todos.js"></script>
<script src="js/views/todo-view.js"></script>
<script src="js/views/app-view.js"></script>
<script src="js/routers/router.js"></script>
<script src="js/app.js"></script>
</body>
</html>